{{ define "body" }}
    <body class="{{ if .Site.Params.backgroundImage }} background-image" style="background-image: url('{{ .Site.Params.backgroundImage }}');" {{ else }}"{{ end }}>
{{ end }}

{{ define "main" }}
    <main aria-role="main">
        <div>
            {{ if .Site.Params.Portrait.Path }}
               <img src="{{ .Site.Params.Portrait.Path }}" class="center" alt="{{ .Site.Params.Portrait.Alt }}" style="max-width:{{ .Site.Params.Portrait.MaxWidth }}" />
            {{ end }}

            <h1>{{ .Site.Title | upper }}</h1>

            {{ partial "subtitle.html" . }}

            <div class="sponsor-list">
                <table style="margin: auto">
                    <tr>
                        <td>
                            <a class="unstyled overlay" href="https://www.glatt.com/" target="_blank">
                            <img style="margin: auto" src="/img/Logo_Glatt_transparent.png" width="190px" alt="Glatt" />
                            </a>
                        </td>
                        <td>
                            <a class="unstyled overlay" href="https://www.chromecars.de/" target="_blank">
                            <img style="margin: auto; padding-right: 10px" src="/img/Logo_ChromeCars_signet_schwarz.png" width="100px" alt="ChomeCars" />
                            </a>
                        </td>
                        <td>
                            <a class="unstyled overlay" href="https://www.adlx.de/" target="_blank">
                            <img style="margin: auto" src="/img/Logo_ADLX_schwarz-gelb-1.png" width="145px" alt="ADLX" />
                            </a>
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <a class="unstyled overlay" href="https://www.refit-jena.de" target="_blank">
                            <img style="margin: auto" src="/img/refit_Logo_original_0916.png" width="130px" alt="ReFit Therapie und Training" />
                            </a>
			            </td>
                        <td>
                            <a class="unstyled overlay" href="https://www.renerosa.de" target="_blank">
                            <img style="margin: auto auto 10% auto;" src="/img/ReneRosa_2024_schwarz.png" width="170px" alt="ReneRosa" />
                            </a>
			            </td>
                        <td>
                            <a class="unstyled overlay" href="https://www.rad-doktor.de" target="_blank">
                            <img style="margin: auto auto 10% auto;" src="/img/Logo_RadDoktor_kompakt.png" width="200px" alt="RadDoktor Weimar" />
                            </a>
			            </td>
                    </tr>
                    <tr aria-colcount="1">
			            <td colspan="60%">
                            <a class="unstyled overlay" href="https://www.ingweultras.com" target="_blank">
                            <img style="margin: auto" src="/img/ultras.png" width="70px" alt="IngWE Ultras" />
                            </a>
			            </td>
                    </tr>
                </table>
            </div>

            {{- with .Site.Params.social }}
                <div>
                    {{ partial "social-icons.html" . }}
                </div>
            {{- end }}
        </div>
    </main>
{{ end }}
