:root {
  --cl-primary-1: #000000;
  --cl-primary-2: #004d86;
  --cl-primary-3: #e8e000;

  --cl-secondary-1: #ffffff;
  --cl-secondary-2: #bbbbbb;
  --cl-secondary-3: #009bd9;
}

@font-face {
  font-family: "Twemoji";
  font-style: normal;
  font-display: auto;
  font-weight: 400;
  src: url("fonts/Twemoji.Mozilla.ttf") format("truetype");
}

.post-content p {
  text-align: justify;
}

.inactive {
  color: var(--cl-secondary-2);
}

.post-content a.unstyled {
  text-decoration: none;
}

.post-content a.unstyled:hover {
  text-decoration: none;
  background-color: var(--cl-secondary-1);
  border-color: var(--cl-secondary-1);
}

.post-content a {
  color: var(--cl-primary-2);
  border: 2px solid var(--cl-secondary-1);
}

.post-content a:hover {
  color: var(--cl-primary-1);
  background-color: var(--cl-primary-3);
  border-radius: 6px;
  border: 2px solid var(--cl-primary-3);
}

.post-content .inactive a {
  color: var(--cl-secondary-2);
  border: 2px solid var(--cl-secondary-1);
}

.post-content .inactive a:hover {
  color: var(--cl-primary-1);
  background-color: var(--cl-primary-3);
  border-radius: 6px;
  border: 2px solid var(--cl-primary-3);
}

.overlay {
  filter: grayscale(100%) opacity(60%);
}

.overlay:hover {
  filter: none;
}

.post-content .flag {
  padding-left: .3rem;
  padding-right: .6rem;
  vertical-align: middle;
  font-family: "Twemoji", -apple-system, BlinkMacSystemFont, "Roboto",
      "Segoe UI", Helvetica, Arial, sans-serif;
  font-size: 20pt;
  font-style: italic;
}

.post-content .symbol {
  font-family: "Twemoji", -apple-system, BlinkMacSystemFont, "Roboto",
      "Segoe UI", Helvetica, Arial, sans-serif;
}

.sponsor-list {
  // margin: 0 -9999rem;
  // padding: 0.25rem 9999rem;
  // background-color: var(--cl-secondary-1);
  margin-top: 2rem;
  margin-bottom: 2rem;
}

.sponsor-list td {
  padding: 8px;
}

.league-count-1 {
  padding: 0 .5rem 0 .5rem;
  margin: 0 .3rem 0 .5rem;
  color: var(--cl-secondary-1);
  background-color: var(--cl-secondary-3);
  border-radius: 10px;
}

.league-count-2 {
  padding: 0 .5rem 0 .5rem;
  margin: 0 .5rem 0 0;
  color: var(--cl-secondary-1);
  background-color: var(--cl-primary-2);
  border-radius: 10px;
}

.important {
  color: #961982;
  background-color: #fecbff;
  //color: #428bd4;
  //background-color: #cfe0ff;
  padding: 4px;
  border-radius: 4px;
}

.post-content table .invisible, .post-content td .invisible, .post-content tr .invisible {
  border: none;
}

.post-content table .no-margin {
  margin: 25px 0;
}

.avatar {
  width: 10rem;
  border-radius: 50%;
}
